._spacer {
  margin-bottom: 10px !important;
}

._spacer-sm {
  margin-bottom: 20px !important;
}

._spacer-md {
  margin-bottom: 35px !important;
}

._spacer-lg {
  margin-bottom: 40px !important;
}
