$white: #ffffff;

$primary: #085492;
$primary-light: #0d66ae;
$primary-darker: #004776;
$primary-darker-temp: #50c9f6;

$primary-dark: #084468;
$primary-lighter: #0670e6;

$secondary: #0c80de;
$secondary-light: #2c94e8;
$secondary-darker: #0071cc;
$secondary-darker-temp: #3f74ea;

$jade: #58b95a;
$jade-darker: #489b4a;
$jade-light: #74d476;
$jade-light-temp: #30d973;
$jade-dark: #5bb75b;
$jade-lighter: #a2c585;

$pumpkin: #f2ad4e;
$pumpkin-light: #fdc16f;
$pumpkin-light-temp: #ffcb43;
$pumpkin-dark: #ef9416;
$pumpkin-dark-temp: #ff9432;

$pumpkin-lighter: #dabb8f;
$pumpkin-darker: #ca7c0e;

$crimson: #da5350;
$crimson-light: #f46f66;
$crimson-darker: #c84037;
$crimson-darker-temp: #ff3737;
$crimson-dark: #d8534f;
$crimson-lighter: #cf8785;

$sky: #5ac1e0;
$sky-light: #64caf0;
$sky-darker: #2ba3d1;

$sky-lighter: #32baef;
$sky-dark: #3cb0c9;

$amethyst: #d18eeb;
$amethyst-temp: #9c61da;
$amethyst-dark: #6a66ce;

$document-lighter: #f8fcfd;
$document: #ecfafd;
$amethyst-light: #daaff2;
$amethyst-darker: #a764cc;

$snow: #ffffff;

$ash: #f8faf8;
$ash-lighter: #eef1f3;
$ash-light: #eff2f4;
$ash-dark: #e4e7e9;
$ash-darker: #dadddf;

$dark: #dadddf;
$dark-lighter: #666868;
$dark-light: #525353;
$dark-dark: #3b3d41;
$dark-darker: #232323;
